{% extends 'base.html' %}

{% block main %}
<h1 class="page-header">Profiles</h1>

{% include 'flash_messages.html' %}

<div>
    {% for profile in profiles %}
        <div>
            <div>
                <img class = "images" src=" {{ url_for('static', filename=profile[7]) }}" alt="Profile Photo for {{ profile[1] + " " + profile[2] }}">
            </div>
            <div>
                <h4>{{ profile[1] + " " + profile[2] }}</h4>
                <p> <img class = "icon" src="./static/gender.png" alt="Gender Icon"> {{ profile[3] }}</p>
                <p> <img class = "icon" src="./static/location.png" alt="Location Icon"> {{ profile[5] }}</p>
            </div>
            <div>
                <form action="{{ url_for('loadprofile', userid=profile[0]) }}" method="get">
                    <input type="submit" value="View Profile">
                </form>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}