{% extends 'base.html' %}

{% block main %}
<h1 class="page-header">Add Profile</h1>

{% include 'flash_messages.html' %}

{# Add the appropriate method and enctype attributes to the form tag to allow for file uploads #}
<form action="{{ url_for('profile') }}" method="post" enctype="multipart/form-data">
  {{ form.csrf_token }}
  <div class="form-group">
    {{ form.firstName.label }} {{ form.firstName(class="form-control") }}
  </div>
  <div class="form-group">
    {{ form.lastName.label }} {{ form.lastName(class="form-control") }}
  </div>
  <div class="form-group">
    {{ form.email.label }} {{ form.email(class="form-control") }}
  </div>
  <div class="form-group">
    {{ form.location.label }} {{ form.location(class="form-control") }}
  </div>
  <div class="form-group">
    {{ form.gender.label }} {{ form.gender(class="form-control") }}
  </div>
  <div class="form-group">
    {{ form.biography.label }} {{ form.biography(class="form-control") }}
  </div>
  <div class="form-group">
    {{ form.photo.label }}
    {{ form.photo(class="form-control") }}
  </div>

  <button type="submit" name="submit" class="btn btn-primary">Add Profile</button>
</form>
{% endblock %}